<h1>Editing Contract</h1>

<%= render 'form', contract: @contract %>

<%= link_to t("gui.actions.show"), @contract, class: "btn btn-primary" %> |
<%= link_to t("gui.actions.back"), contracts_path, class: "btn btn-secondary" %>
