<p>
  <strong>Code:</strong>
  <%= @blood_type.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @blood_type.name %>
</p>

<%= link_to t("gui.actions.edit"), edit_blood_type_path(@blood_type), class: "btn btn-primary" %> |
<%= link_to t("gui.actions.back"), blood_types_path, class: "btn btn-secondary" %>
