<h1><i class="fa fa-plus-square"></i>&nbsp;&nbsp;<%= "#{t("gui.actions.edit")} #{t("activerecord.models.card_type", count: 1)}" %></h1>

<%= render 'form', card_type: @card_type %>

<%= link_to t("gui.actions.show"), @card_type, class: "btn btn-primary" %> |
<%= link_to t("gui.actions.back"), card_types_path, class: "btn btn-secondary" %>
